*,
*::after,
*::before {
  box-sizing: border-box;
}

// Card frame
.card {
    background-color: white;
  --width: 10em;
  --height: calc(1.4 * var(--width));
  --padding: 1em;
  width: var(--width);
  height: var(--height);
  padding: var(--padding);
  border-radius: 0.5em;
  box-shadow: 0.2em 0.2em 1.2em rgba(0, 0, 0, 0.1);
  position: relative;

  color: var(--color);

  transition: all 0.3s;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.02);
  z-index: 10;
  box-shadow: 0.2em 0.2em 1.2em rgba(0, 0, 0, 0.3);
}

// Basic structure

.card::before,
.card::after {
  flex: 1 auto;
  display: block;
  content: var(--card);
  padding: 0 0.1em;
  font-weight: bold;
  font-size: 1.8em;
  letter-spacing: -0.15em;
  width: 100%;
}

.card::before {
  height: 100%;
}

.card::after {
  --translateX: 0.1em;
  position: absolute;
  bottom: calc(var(--padding) / 2);
  width: calc(100% - var(--padding));
  height: 50%;
  transform: rotate(180deg) translateX(var(--translateX));
}

// Define suits
// credit for suit SVGs (design and hosting): Sean Brunnoc

.card[suit="hearts"] {
  --imageSuit: url("../../assets/heart.svg");
  --color: red;
}

.card[suit="diamonds"] {
  --imageSuit: url("../../assets/diamond.svg");
  --color: red;
}

.card[suit="spades"] {
  --imageSuit: url("../../assets/spade.svg");
  --color: #000;
}

.card[suit="clubs"] {
  --imageSuit: url("../../assets/club.svg");
  --color: #000;
}

// Specific card config

.card[card="1"] {
  --card: "A";

  &::before {
    background-image: var(--imageSuit), var(--imageSuit);
    background-size: 0.8em, 1.5em;
    background-repeat: no-repeat;
    background-position: left 0.1em top 1.1em, center 2.6em;
  }

  &::after {
    background-image: var(--imageSuit);
    background-size: 0.8em;
    background-repeat: no-repeat;
    background-position: left 0.1em top 1.1em;
  }
}

.card[card="2"] {
  --card: "2";

  &::before,
  &::after {
    background-image: var(--imageSuit), var(--imageSuit);
    background-size: 0.8em, 1em;
    background-repeat: no-repeat;
    background-position: left 1.1em, center 0.5em;
  }
}

.card[card="3"] {
  --card: "3";

  &::before {
    background-image: var(--imageSuit), var(--imageSuit), var(--imageSuit);
    background-size: 0.8em, 1em, 1em;
    background-repeat: no-repeat;
    background-position: left 1.1em, center 0.5em, center 2.9em;
  }
  &::after {
    background-image: var(--imageSuit), var(--imageSuit);
    background-size: 0.8em, 1em;
    background-repeat: no-repeat;
    background-position: left 1.1em, center 0.5em;
  }
}

.card[card="4"] {
  --card: "4";

  &::before,
  &::after {
    background-image: var(--imageSuit), var(--imageSuit), var(--imageSuit);
    background-size: 0.8em, 1em, 1em;
    background-repeat: no-repeat;
    background-position: left 1.1em, top 0.5em left 0.9em, top 0.5em right 0.9em;
  }
}

.card[card="5"] {
  --card: "5";

  &::before {
    background-image: var(--imageSuit), var(--imageSuit), var(--imageSuit),
      var(--imageSuit);
    background-size: 0.8em, 1em, 1em, 1em;
    background-repeat: no-repeat;
    background-position: left 1.1em, top 0.5em left 0.9em, top 0.5em right 0.9em,
      center 2.9em;
  }
  &::after {
    background-image: var(--imageSuit), var(--imageSuit), var(--imageSuit);
    background-size: 0.8em, 1em, 1em;
    background-repeat: no-repeat;
    background-position: left 1.1em, top 0.5em left 0.9em, top 0.5em right 0.9em;
  }
}

.card[card="6"] {
  --card: "6";

  &::before {
    background-image: var(--imageSuit), var(--imageSuit), var(--imageSuit),
      var(--imageSuit), var(--imageSuit);
    background-size: 0.8em, 1em, 1em, 1em, 1em;
    background-repeat: no-repeat;
    background-position: left 1.1em, top 0.5em left 0.9em, top 0.5em right 0.9em,
      top 2.9em left 0.9em, top 2.9em right 0.9em;
  }
  &::after {
    background-image: var(--imageSuit), var(--imageSuit), var(--imageSuit);
    background-size: 0.8em, 1em, 1em;
    background-repeat: no-repeat;
    background-position: left 1.1em, top 0.5em left 0.9em, top 0.5em right 0.9em;
  }
}

.card[card="7"] {
  --card: "7";

  &::before {
    background-image: var(--imageSuit), var(--imageSuit), var(--imageSuit),
      var(--imageSuit), var(--imageSuit), var(--imageSuit);
    background-size: 0.8em, 1em, 1em, 1em, 1em, 1em;
    background-repeat: no-repeat;
    background-position: left 1.1em, top 0.5em left 0.9em, top 0.5em right 0.9em,
      top 2.9em left 0.9em, top 2.9em right 0.9em, top 1.6em center;
  }
  &::after {
    background-image: var(--imageSuit), var(--imageSuit), var(--imageSuit);
    background-size: 0.8em, 1em, 1em;
    background-repeat: no-repeat;
    background-position: left 1.1em, top 0.5em left 0.9em, top 0.5em right 0.9em;
  }
}

.card[card="8"] {
  --card: "8";

  &::before {
    background-image: var(--imageSuit), var(--imageSuit), var(--imageSuit),
      var(--imageSuit), var(--imageSuit), var(--imageSuit);
    background-size: 0.8em, 1em, 1em, 1em, 1em, 1em;
    background-repeat: no-repeat;
    background-position: left 1.1em, top 0.5em left 0.9em, top 0.5em right 0.9em,
      top 2.9em left 0.9em, top 2.9em right 0.9em, top 1.6em center;
  }
  &::after {
    background-image: var(--imageSuit), var(--imageSuit), var(--imageSuit),
      var(--imageSuit);
    background-size: 0.8em, 1em, 1em, 1em;
    background-repeat: no-repeat;
    background-position: left 1.1em, top 0.5em left 0.9em, top 0.5em right 0.9em,
      top 1.6em center;
  }
}
.card[card="9"] {
  --card: "9";

  &::before {
    background-image: var(--imageSuit), var(--imageSuit), var(--imageSuit),
      var(--imageSuit), var(--imageSuit), var(--imageSuit);
    background-size: 0.8em, 1em, 1em, 1em, 1em, 1em;
    background-repeat: no-repeat;
    background-position: left 1.1em, top 0.5em left 0.9em, top 0.5em right 0.9em,
      top 2.1em left 0.85em, top 2.1em right 0.9em, top 2.9em center;
  }
  &::after {
    background-image: var(--imageSuit), var(--imageSuit), var(--imageSuit),
      var(--imageSuit), var(--imageSuit);
    background-size: 0.8em, 1em, 1em, 1em, 1em;
    background-repeat: no-repeat;
    background-position: left 1.1em, top 0.5em left 0.9em, top 0.5em right 0.9em,
      top 2.1em left 0.85em, top 2.1em right 0.9em;
  }
}
.card[card="10"] {
  --card: "10";

  &::before,
  &::after {
    text-indent: -0.2em;
    background-image: var(--imageSuit), var(--imageSuit), var(--imageSuit),
      var(--imageSuit), var(--imageSuit), var(--imageSuit);
    background-size: 0.8em, 1em, 1em, 1em, 1em, 1em;
    background-repeat: no-repeat;
    background-position: left 1.1em, top 0.5em left 0.9em, top 0.5em right 0.9em,
      top 2.1em left 0.85em, top 2.1em right 0.9em, top 1.2em center;
  }
}

.card[card="11"] {
  --card: "J";
}

.card[card="12"] {
  --card: "Q";
}

.card[card="13"] {
  --card: "K";
}

.card[card="11"],
.card[card="12"],
.card[card="13"] {
  &::before {
    background-image: var(--imageSuit), var(--imageSuit);
    background-size: 0.8em, 1.5em;
    background-repeat: no-repeat;
    background-position: left 0.1em top 1.1em, center 2.6em;
  }
  &::after {
    background-image: var(--imageSuit);
    background-size: 0.8em;
    background-repeat: no-repeat;
    background-position: left 1.1em;
  }
}

.card[card="12"],
.card[card="13"] {
  text-indent: -0.2em;
}

.cardWrapper[selected=true] {
    $distance: 2em;

    margin-top: -$distance;
    margin-bottom: $distance;
}

.cardWrapper {
    background-color: rgb(211, 214, 216);
    --width: 10em;
    --height: calc(1.4 * var(--width));
    width: var(--width);
    height: var(--height);
    border-radius: 0.5em;
    box-shadow: 0.2em 0.2em 1.2em rgba(0, 0, 0, 0.1);
    position: relative;
  
    color: var(--color);
  
    transition: all 0.3s;
    cursor: pointer;
}

.card[facingUp=false] {
    background-color: #000;
}