<div id="content">
    <h1>All open lobbies</h1>

    <h4>Logged in as <span>{{playerService.loggedInAs.getValue()?.username}}</span></h4>
    
    <div *ngIf="!isLoaded; else loadedSection" class="lds-ripple"><div></div><div></div></div>
    
    <ng-template #loadedSection>
        <button (click)="refreshLobbies()">Refresh</button><br />
        <button (click)="createLobby()">Create Lobby</button>
        <div id="lobbyDiv">
            <div id="lobbyDivItem" *ngFor="let lobby of lobbies">
                <span>Id: {{lobby.guid}}</span>
                <span> Players: {{(lobby.players ? lobby.players.length : "0")}}</span>
                <span class="{{lobby.status | lobbyStatusToString | lowercase}}">{{lobby.status | lobbyStatusToString}}</span>
                <button (click)="joinLobby(lobby.guid)" [disabled]="lobby.status != 0">Join</button>
            </div>
        </div>
    </ng-template>
</div>